body {
	font: 16px Helvetica, Sans-Serif;
	background: url(noise.png);
}
#pic {
	float: right;
}
#container {
	width: 800px;
	margin: 40px 10px auto;
}
#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -1px;
}
#content-info {
	float: right;
	color: #808080;
	display: inline;
	font-size: 16px;
	font-weight: normal;
}
#content-summary {
	margin: 20px 0 0 16px 0;
	padding: 0 0 32px 0;
	font-size: 18px;
	font-weight: normal;
}
#content-professionalheader {
	font-size: 24px;
	margin-left: 90px;
}
#content-professional {
	font-size: 16px;
}
h3 {
	border-bottom: 1px solid #999;
}
#background-container {
    background: url(images/kb2.jpg) left top no-repeat;
    box-shadow: 0px 125px 125px 0 white inset; 
    margin-top: -300px;
    margin-left: 0;
    width: 2100px;
    height: 2500px;
}
